.board{
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.line{
    display: flex;
    gap: 5px;
    /* padding-bottom: 5px; */
}
.tile{
    width: 40px;
    height: 40px;
    border: 1px solid black;
    font-size: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
}
.correct {
    background-color: lightgreen;
}
.close {
    background-color: yellow;
}
.incorrect{
    background-color: gray;
}